.timeline {
  float: left;
  list-style: none;
  padding: 23px 0 31px;
  position: relative;
}

.timeline > li {
  border-radius: 13px;
  margin-bottom: 22px;
  margin-left: -2px;
  position: relative;
}

.timeline > li > .timeline-badge {
  color: gray;
  font-size: 1.4em;
  height: 28px;
  left: 9.5%;
  line-height: 50px;
  margin-left: -25px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 28px;
  z-index: 100;
}

.timeline > li > .timeline-panel {
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  float: left;
  position: relative;
  width: 85%;
}

.timeline > li > .timeline-panel:after {
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: 0 solid #fff;
  border-top: 10px solid transparent;
  content: " ";
  display: inline-block;
  position: absolute;
  right: -14px;
  top: 12px;
}

.timeline > li > .timeline-panel:before {
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ccc;
  border-right: 0 solid #ccc;
  border-top: 10px solid transparent;
  content: " ";
  display: inline-block;
  position: absolute;
  right: -15px;
  top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  background-color: #f5f5f5;
  border-radius: 5px 10px 0 0;
  float: right;
  margin-left: 82px;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,.timeline > li:after {
  content: " ";
  display: table;
}

.timeline-badge.danger {
  background-color: #d9534f!important;
}

.timeline-badge.info {
  background-color: #5bc0de!important;
}

.timeline-badge.primary {
  background-color: #2e6da4!important;
}

.timeline-badge.success {
  background-color: #3f903f!important;
}

.timeline-badge.warning {
  background-color: #f0ad4e!important;
}

.timeline-body {
  margin-bottom: 5px;
  padding: 12px 0 5px 21px;
}

.timeline-body > p + p {
  margin-top: 5px;
}

.timeline-body > p,.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-heading {
  background: #FFF;
  border-radius: 7px 9px 0 0;
  margin: 0;
  padding: 16px 0 3px 25px;
}

.timeline-title {
  color: inherit;
  margin-top: 0;
}

.timeline:before {
  background-color: #d8d8d8;
  bottom: 0;
  content: " ";
  left: 8%;
  margin-left: -3.5px;
  position: absolute;
  top: 0;
  width: 2px;
}

span {
  margin-right: 20px;
}

svg {
  margin: 1px 6px -2px 1px;
}

table {
  background-color: #f5f5f5;
  border-color: #E6E6FA;
  width: 95%;
}

tr {
  border-top: 1px solid gray;
  padding-bottom: 1em;
}

tr.active>td,tr.active>th {
  padding: 10px 0;
}
